html {
    scroll-behavior: smooth;
}

input[type=password],
input[type=text],
textarea {
    border-color: darkblue;
    -webkit-appearance: none;
    background-color: transparent;
    display: block;
    width: 50%
}

button {
    background-color: blue;
    border-width: 0
}

.container,
.row,
.col {
    display: flex
}

.container,
.col {
    flex-direction: column
}

.container>.row:first-child:last-child,
.col>.row:first-child:last-child {
    flex-grow: 1
}

.container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    max-width: 100%;
    width: 1680px
}

.row,
.col {
    max-height: 100%
}

.row {
    flex-wrap: wrap
}

.col {
    width: 100%
}

.col>* {
    max-width: 100%
}

.box:last-child,
[class^="box-"]:last-child,
[class*=" box-"]:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.clearfix {
    clear: both;
    display: none
}

.hidden-xs {
    display: none !important
}

.visible-xs {
    display: block !important
}

.span-xs {
    padding: 0 !important
}

.span-h-xs {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.span-v-xs {
    padding-bottom: 0 !important;
    padding-top: 0 !important
}

.row-xs-split {
    justify-content: space-between;
    flex-wrap: nowrap
}

.row-xs-split>.col {
    width: auto
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-pull-0 {
    right: 0
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: 0
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-12 {
    left: 100%
}

@media (min-width:480px) {
    .hidden-sm {
        display: none !important
    }
    .visible-sm {
        display: block !important
    }
    .span-sm {
        padding: 0 !important
    }
    .span-h-sm {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .span-v-sm {
        padding-bottom: 0 !important;
        padding-top: 0 !important
    }
    .row-sm-split {
        justify-content: space-between;
        flex-wrap: nowrap
    }
    .row-sm-split>.col {
        width: auto
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-pull-0 {
        right: 0
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: 0
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-12 {
        left: 100%
    }
}

@media (min-width:768px) {
    .hidden-md {
        display: none !important
    }
    .visible-md {
        display: block !important
    }
    .span-md {
        padding: 0 !important
    }
    .span-h-md {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .span-v-md {
        padding-bottom: 0 !important;
        padding-top: 0 !important
    }
    .row-md-split {
        justify-content: space-between;
        flex-wrap: nowrap
    }
    .row-md-split>.col {
        width: auto
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width:1024px) {
    .hidden-lg {
        display: none !important
    }
    .visible-lg {
        display: block !important
    }
    .span-lg {
        padding: 0 !important
    }
    .span-h-lg {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .span-v-lg {
        padding-bottom: 0 !important;
        padding-top: 0 !important
    }
    .row-lg-split {
        justify-content: space-between;
        flex-wrap: nowrap
    }
    .row-lg-split>.col {
        width: auto
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
}

@media (max-width:1024px) {
    .container {
        width: 100% !important
    }
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

.body-container {
    overflow-y: scroll;
    margin-top: 80px;
}

body.disabled::after,
body.loading::after {
    height: 100%
}

body.loading::after {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color .5s
}

body::after {
    content: '';
    height: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: background-color .5s, height 0s .5s;
    z-index: 1000
}

#viewport {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10
}

#viewport .page {
    min-height: 100%;
    overflow: hidden
}

.page {
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    position: relative
}

.page>* {
    width: 100%
}

.page section,
.page footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative
}

.footer-block {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    background-color: white;
}

.text-6.negative {
    color: cornflowerblue;
}

.page header>*,
.page section>*,
.page footer>* {
    max-width: 100%;
}

.page header>.container,
.page section>.container,
.page footer>.container {
    flex-grow: 1;
    max-height: 100%
}

:empty,
:blank,
:-moz-only-whitespace {
    padding: 0 !important
}

a.thumbnail,
.thumbnail a {
    display: block;
    overflow: hidden;
    position: relative
}

a.thumbnail:not([data-ratio]) img,
.thumbnail a:not([data-ratio]) img {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    width: inherit
}

@media (min-width:480px) and (max-width:767px) {
    .not-sm,
    .xs:not(.sm),
    .md:not(.sm),
    .lg:not(.sm),
    .xl:not(.sm) {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .not-md,
    .xs:not(.md),
    .sm:not(.md),
    .lg:not(.md),
    .xl:not(.md) {
        display: none !important
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .not-lg,
    .xs:not(.lg),
    .sm:not(.lg),
    .md:not(.lg),
    .xl:not(.lg) {
        display: none !important
    }
}

@media (min-width:1280px) {
    .not-xl,
    .xs:not(.xl),
    .sm:not(.xl),
    .md:not(.xl),
    .lg:not(.xl) {
        display: none !important
    }
}

@media (max-width:1024px) {
    .page header,
    .page section,
    .page footer {
        max-width: none !important
    }
}

@media (max-width:479px) {
    .not-xs,
    .sm:not(.xs),
    .md:not(.xs),
    .lg:not(.xs),
    .xl:not(.xs) {
        display: none !important
    }
}

@media print {
    #viewport {
        overflow-x: visible
    }
}

.navbar ul,
.dropdown-menu-1 ul,
.hamburger-menu-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.menu-1 ul li:last-child,
.dropdown-menu-1 ul li:last-child,
.hamburger-menu-1 ul li:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.menu-1 ul li>a .image>img,
.dropdown-menu-1 ul li>a .image>img,
.hamburger-menu-1 ul li>a .image>img,
.menu-1 ul li>a .icon>img
.dropdown-menu-1 ul li>a .icon>img,
.hamburger-menu-1 ul li>a .icon>img,
.menu-1 ul li>a .image>svg,
.dropdown-menu-1 ul li>a .image>svg,
.hamburger-menu-1 ul li>a .image>svg,
.menu-1 ul li>a .icon>svg,
.dropdown-menu-1 ul li>a .icon>svg,
.hamburger-menu-1 ul li>a .icon>svg{
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    width: inherit
}

.menu-1 ul li>a .image>img,
.dropdown-menu-1 ul li>a .image>img,
.hamburger-menu-1 ul li>a .image>img {
    object-fit: cover
}

.menu-1 ul li>a .icon>img,
.dropdown-menu-1 ul li>a .icon>img,
.hamburger-menu-1 ul li>a .icon>img {
    object-fit: contain
}

.menu-1>ul:last-child,
.dropdown-menu-1>ul:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.hamburger-menu-1 ul:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.menu-1:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

header .menu-1,
section .menu-1,
footer .menu-1,
header .menu-1>ul,
section .menu-1>ul,
footer .menu-1>ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

.dropdown-menu-1 li:not(.enter)>ul {
    display: none
}

.dropdown-menu-1 li ul {
    position: fixed
}

.hamburger-menu-1>.container {
    min-height: 100%
}

.hamburger-menu-1>.container>.row:last-child{
    flex-grow: 1
}

.hamburger-menu-1 {
    bottom: 0;
    top: 0
}

a.heading-1,
a.heading-2,
a.heading-3
 {
    display: block
}

.heading-1:last-child,
.heading-2:last-child,
.heading-3:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.text-2:last-child,
.text-6:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}


.text-2 p:not([class^="heading-"]),
.text-6 p:not([class^="heading-"]),
.text-2 ul,
.text-6 ul,
.text-2 ol,
.text-6 ol,
.text-2 hr,
.text-6 hr {
    margin-bottom: 2em
}

.text-2 p:not([class^="heading-"]):last-child,
.text-6 p:not([class^="heading-"]):last-child,
.text-2 ul:last-child,
.text-6 ul:last-child,
.text-2 ol:last-child,
.text-6 ol:last-child,
.text-2 hr:last-child,
.text-6 hr:last-child,
.text-2 table:last-child,
.text-6 table:last-child {
    margin-bottom: 0 !important
}

.text-2 ul,
.text-6 ul {
    padding-left: 18px
}

.text-2 ol,
.text-6 ol{
    padding-left: 20px
}

.text-2 li:last-child,
.text-6 li:last-child {
    border-bottom-width: 0 !important
}

.text-2 table,
.text-6 table {
    width: 100%
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap
}

.button-wrapper:last-child,
.button-wrapper>* {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.button-1,
.button-2 {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none
}

div.button-1,
div.button-2 {
    cursor: default
}

:not(.button-wrapper)>.button-1,
:not(.button-wrapper)>.button-2 {
    display: inline-block;
    vertical-align: middle
}

:not(.button-wrapper)>.button-1:last-child,
:not(.button-wrapper)>.button-2:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.handler-1:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.control-wrapper {
    display: flex;
    flex-wrap: wrap
}

.control-wrapper:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.control-1,
.control-2,
.control-3,
.control-4,
.control-5 {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none
}

a.control-1,
a.control-2,
a.control-3,
a.control-4,
a.control-5 {
    display: block
}

.control-1 img,
.control-2 img,
.control-3 img,
.control-4 img,
.control-5 img,
.control-1 svg,
.control-2 svg,
.control-3 svg,
.control-4 svg,
.control-5 svg {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    width: inherit
}

.control-1 img,
.control-2 img,
.control-3 img,
.control-4 img,
.control-5 img {
    object-fit: contain
}

:not(.control-wrapper)>.control-1:last-child,
:not(.control-wrapper)>.control-2:last-child,
:not(.control-wrapper)>.control-3:last-child,
:not(.control-wrapper)>.control-4:last-child,
:not(.control-wrapper)>.control-5:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.media-1,
.media-2,
.media-3,
.media-4 {
    overflow: hidden
}

a.media-1,
a.media-2,
a.media-3,
a.media-4 {
    display: block
}

.media-1>img,
.media-2>img,
.media-3>img,
.media-4>img,
.media-1>video,
.media-2>video,
.media-3>video,
.media-4>video {
    object-fit: contain
}

.media-1::after,
.media-2::after,
.media-3::after,
.media-4::after {
    content: '';
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.media-1,
.media-2,
.media-3 {
    max-height: 100%;
    max-width: 100%;
    position: relative
}

.media-1:last-child,
.media-2:last-child,
.media-3:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.media-1:not([data-ratio])>img,
.media-2:not([data-ratio])>img,
.media-3:not([data-ratio])>img,
.media-1:not([data-ratio])>svg,
.media-2:not([data-ratio])>svg,
.media-3:not([data-ratio])>svg {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    width: inherit
}

.media-2>video,
.media-3>video,
.media-4>video,
.media-2>iframe,
.media-3>iframe,
.media-4>iframe {
    background-color: #000000;
    visibility: hidden;
    width: 100%
}

.media-2>video+img,
.media-3>video+img,
.media-4>video+img,
.media-2>iframe+img,
.media-3>iframe+img,
.media-4>iframe+img,
.media-2>video+img+img,
.media-3>video+img+img,
.media-4>video+img+img,
.media-2>iframe+img+img,
.media-3>iframe+img+img,
.media-4>iframe+img+img,
.media-2>video+img+img+img,
.media-3>video+img+img+img,
.media-4>video+img+img+img,
.media-2>iframe+img+img+img,
.media-3>iframe+img+img+img,
.media-4>iframe+img+img+img,
.media-2>video+img+img+img+img,
.media-3>video+img+img+img+img,
.media-4>video+img+img+img+img,
.media-2>iframe+img+img+img+img,
.media-3>iframe+img+img+img+img,
.media-4>iframe+img+img+img+img,
.media-2>video+img+img+img+img+img,
.media-3>video+img+img+img+img+img,
.media-4>video+img+img+img+img+img,
.media-2>iframe+img+img+img+img+img,
.media-3>iframe+img+img+img+img+img,
.media-4>iframe+img+img+img+img+img,
.media-2>video+img+img+img+img+img+img,
.media-3>video+img+img+img+img+img+img,
.media-4>video+img+img+img+img+img+img,
.media-2>iframe+img+img+img+img+img+img,
.media-3>iframe+img+img+img+img+img+img,
.media-4>iframe+img+img+img+img+img+img {
    position: absolute;
    top: 0
}

.media-2>.play,
.media-3>.play,
.media-4>.play {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.media-2>.play::before,
.media-3>.play::before,
.media-4>.play::before {
    background-color: #ffffff;
    border-radius: 50%;
    content: '';
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px
}

.media-2>.play::after,
.media-3>.play::after,
.media-4>.play::after {
    border: solid transparent;
    border-left-color: #000000;
    border-width: 10px 20px;
    content: '';
    margin-left: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.media-2.playing>img,
.media-3.playing>img,
.media-4.playing>img,
.media-2.playing>svg,
.media-3.playing>svg,
.media-4.playing>svg,
.media-2.playing>.play,
.media-3.playing>.play,
.media-4.playing>.play {
    display: none
}

.media-2.playing>video,
.media-3.playing>video,
.media-4.playing>video,
.media-2.playing>iframe,
.media-3.playing>iframe,
.media-4.playing>iframe {
    visibility: visible
}

.media-2:not([data-ratio])>video+img,
.media-3:not([data-ratio])>video+img,
.media-2:not([data-ratio])>iframe+img,
.media-3:not([data-ratio])>iframe+img,
.media-2:not([data-ratio])>video+img+img,
.media-3:not([data-ratio])>video+img+img,
.media-2:not([data-ratio])>iframe+img+img,
.media-3:not([data-ratio])>iframe+img+img,
.media-2:not([data-ratio])>video+img+img+img,
.media-3:not([data-ratio])>video+img+img+img,
.media-2:not([data-ratio])>iframe+img+img+img,
.media-3:not([data-ratio])>iframe+img+img+img,
.media-2:not([data-ratio])>video+img+img+img+img,
.media-3:not([data-ratio])>video+img+img+img+img,
.media-2:not([data-ratio])>iframe+img+img+img+img,
.media-3:not([data-ratio])>iframe+img+img+img+img,
.media-2:not([data-ratio])>video+img+img+img+img+img,
.media-3:not([data-ratio])>video+img+img+img+img+img,
.media-2:not([data-ratio])>iframe+img+img+img+img+img,
.media-3:not([data-ratio])>iframe+img+img+img+img+img,
.media-2:not([data-ratio])>video+img+img+img+img+img+img,
.media-3:not([data-ratio])>video+img+img+img+img+img+img,
.media-2:not([data-ratio])>iframe+img+img+img+img+img+img,
.media-3:not([data-ratio])>iframe+img+img+img+img+img+img {
    height: 100%;
    max-height: none;
    max-width: none;
    object-fit: cover;
    width: 100%
}

.media-2.playing::after,
.media-3.playing::after {
    display: none
}

.media-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.media-4:not([data-contain])>img,
.media-4:not([data-contain])>video {
    object-fit: cover
}

.media-4:not([data-contain])>iframe {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.media-4>img,
.media-4>svg,
.media-4>video,
.media-4>iframe {
    height: 100%;
    width: 100%
}

a.media-4+:not(a),
.media-4.has-controls+:not(a) {
    pointer-events: none
}

a.media-4+:not(a) a,
.media-4.has-controls+:not(a) a {
    pointer-events: auto
}

.icon-wrapper {
    display: flex;
    flex-wrap: wrap
}

.icon-wrapper:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

a.icon-1,
a.icon-2,
a.icon-3 {
    display: block
}

.icon-1>img,
.icon-2>img,
.icon-3>img,
.icon-1>svg,
.icon-2>svg,
.icon-3>svg {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    width: inherit
}

.icon-1>img,
.icon-2>img,
.icon-3>img {
    object-fit: contain
}

:not(.icon-wrapper)>.icon-1:last-child,
:not(.icon-wrapper)>.icon-2:last-child,
:not(.icon-wrapper)>.icon-3:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.map-1,
.map-2 {
    overflow: hidden
}

.map-1>div,
.map-2>div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.map-1>div>div>.gm-style>div:nth-of-type(2),
.map-2>div>div>.gm-style>div:nth-of-type(2),
.map-1>div>div>.gm-style .gm-style-cc,
.map-2>div>div>.gm-style .gm-style-cc {
    display: none
}

.map-1 {
    position: relative
}

.map-1:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.map-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.iframe-1:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.iframe-1>iframe {
    height: 100%;
    width: 100%
}

.separator-1,
.separator-2 {
    width: 100%
}

.form-1 {
    max-width: 100%
}

.form-1:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important
}

.form-1>div:last-child {
    margin-bottom: 0 !important
}

.form-1>div .select>input,
.form-1>div .date>input,
.form-1>div .date-time>input,
.form-1>div .file>input,
.form-1>div .search>input {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.form-1>div .select>button,
.form-1>div .date>button,
.form-1>div .date-time>button,
.form-1>div .file>button,
.form-1>div .search>button {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important
}

.form-1>div .select.active:not(.top)>input {
    border-bottom-left-radius: 0 !important
}

.form-1>div .select.active:not(.top)>button {
    border-bottom-right-radius: 0 !important
}

.form-1>div .select.active:not(.top)>.options {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.form-1>div .select.active.top>input {
    border-top-left-radius: 0 !important
}

.form-1>div .select.active.top>button {
    border-top-right-radius: 0 !important
}

.form-1>div .select.active.top>.options {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.form-1>div .select>.options>.option {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-top-width: 0 !important
}

.form-1>div .select>.options>.option:last-child {
    border-bottom-width: 0 !important
}

.form-1>div .radio:last-child,

.form-1>div .checkbox:last-child {
    margin-right: 0 !important
}

.form-field-1{
    max-width: 100%
}

[data-cookie]:not(.show) {
    display: none !important
}

#navigation,
[id^="navigation-"],
#sticky,
#viewport {
    transition: transform 200ms
}

body.active-menu #navigation>*,
body.active-menu [id^="navigation-"]>* {
    pointer-events: none
}

body.active-menu #viewport {
    overflow: hidden
}

body>.mobile-menu {
    overflow: hidden;
    position: absolute
}

body>.mobile-menu.left,
body>.mobile-menu.right {
    bottom: 0;
    top: 0;
    width: 200px;
    z-index: 0
}

body>.mobile-menu.left.left,
body>.mobile-menu.right.left {
    left: 0
}

body>.mobile-menu.left.right,
body>.mobile-menu.right.right {
    right: 0
}

body>.mobile-menu.left>.outer>.inner,
body>.mobile-menu.right>.outer>.inner {
    min-height: 100%
}

body>.mobile-menu.center {
    left: 0;
    right: 0;
    transition: height 200ms;
    z-index: 20
}

body>.mobile-menu.center:not(.active) {
    height: 0 !important
}

body>.mobile-menu.center>.outer {
    position: relative
}

body>.mobile-menu.center>.outer>.inner {
    bottom: 0;
    position: absolute;
    width: 100%
}

body>.mobile-menu>.outer {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

body>.mobile-menu ul,
body>.mobile-menu .spacer {
    height: auto !important;
    margin-left: 0 !important
}

body>.mobile-menu li {
    position: relative
}

header .menu:not(.init) .mobile-menu,
section .menu:not(.init) .mobile-menu,
footer .menu:not(.init) .mobile-menu {
    visibility: hidden
}

header .menu:not(.mobile) .handler,
section .menu:not(.mobile) .handler,
footer .menu:not(.mobile) .handler {
    display: none !important
}

header .menu.mobile.left,
section .menu.mobile.left,
footer .menu.mobile.left {
    align-self: flex-start
}

header .menu.mobile.right,
section .menu.mobile.right,
footer .menu.mobile.right {
    align-self: flex-end
}

header .menu.mobile .mobile-menu,
section .menu.mobile .mobile-menu,
footer .menu.mobile .mobile-menu {
    display: none !important
}

header .menu .mobile-menu,
section .menu .mobile-menu,
footer .menu .mobile-menu {
    height: auto !important
}

header .menu .mobile-menu>.outer,
section .menu .mobile-menu>.outer,
footer .menu .mobile-menu>.outer {
    display: flex
}

header .menu .mobile-menu>.outer>.inner,
section .menu .mobile-menu>.outer>.inner,
footer .menu .mobile-menu>.outer>.inner {
    flex-grow: 1;
    max-width: none
}

header .menu .mobile-menu>.outer>.inner.nowrap,
section .menu .mobile-menu>.outer>.inner.nowrap,
footer .menu .mobile-menu>.outer>.inner.nowrap {
    flex-shrink: 0 !important;
    flex-wrap: nowrap !important
}

header .menu .mobile-menu>.outer>.inner.nowrap nav>ul,
section .menu .mobile-menu>.outer>.inner.nowrap nav>ul,
footer .menu .mobile-menu>.outer>.inner.nowrap nav>ul {
    flex-wrap: nowrap !important
}

header .menu .mobile-menu>.outer>.inner nav>ul li,
section .menu .mobile-menu>.outer>.inner nav>ul li,
footer .menu .mobile-menu>.outer>.inner nav>ul li {
    position: relative
}

header .menu .mobile-menu>.outer>.inner nav>ul li a,
section .menu .mobile-menu>.outer>.inner nav>ul li a,
footer .menu .mobile-menu>.outer>.inner nav>ul li a {
    white-space: nowrap
}

header .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>ul,
section .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>ul,
footer .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>ul,
header .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>.spacer,
section .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>.spacer,
footer .menu .mobile-menu>.outer>.inner nav>ul li:not(.enter)>.spacer {
    display: none
}

header .menu .mobile-menu>.outer>.inner nav>ul li>ul,
section .menu .mobile-menu>.outer>.inner nav>ul li>ul,
footer .menu .mobile-menu>.outer>.inner nav>ul li>ul,
header .menu .mobile-menu>.outer>.inner nav>ul li>.spacer,
section .menu .mobile-menu>.outer>.inner nav>ul li>.spacer,
footer .menu .mobile-menu>.outer>.inner nav>ul li>.spacer {
    position: absolute;
    z-index: 100
}

header .menu .mobile-menu>.outer>.inner nav>ul>li,
section .menu .mobile-menu>.outer>.inner nav>ul>li,
footer .menu .mobile-menu>.outer>.inner nav>ul>li {
    align-items: center;
    display: flex
}

header .menu .mobile-menu>.outer>.inner nav>ul>li.separator,
section .menu .mobile-menu>.outer>.inner nav>ul>li.separator,
footer .menu .mobile-menu>.outer>.inner nav>ul>li.separator {
    align-self: center
}

header .menu .mobile-menu>.outer>.inner nav>ul>li>ul,
section .menu .mobile-menu>.outer>.inner nav>ul>li>ul,
footer .menu .mobile-menu>.outer>.inner nav>ul>li>ul,
header .menu .mobile-menu>.outer>.inner nav>ul>li>.spacer,
section .menu .mobile-menu>.outer>.inner nav>ul>li>.spacer,
footer .menu .mobile-menu>.outer>.inner nav>ul>li>.spacer {
    left: 0;
    min-width: 100%;
    top: 100%
}

header .menu .mobile-menu>.outer>.inner nav>ul>li>ul ul,
section .menu .mobile-menu>.outer>.inner nav>ul>li>ul ul,
footer .menu .mobile-menu>.outer>.inner nav>ul>li>ul ul,
header .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer,
section .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer,
footer .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer {
    left: 100%;
    top: 0
}

header .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer,
section .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer,
footer .menu .mobile-menu>.outer>.inner nav>ul>li>ul .spacer {
    bottom: 0
}

[data-parallax] {
    overflow: hidden;
    position: relative
}

[data-parallax]>.parallax {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

[data-parallax]>.parallax>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 101%
}

#sticky {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20
}

#sticky>* {
    pointer-events: auto
}

#sticky>.page {
    background-color: transparent !important;
    background-image: none !important
}

[data-ratio] {
    width: 100%
}

[data-ratio]:not([data-contain])>img {
    object-fit: cover
}

[data-ratio]:not([data-contain])>video:last-child {
    object-fit: cover
}

[data-ratio]:not([data-contain])>iframe:last-child {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

[data-ratio]::before {
    content: '';
    display: block
}

[data-ratio]>* {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

[data-ratio="1x1"]::before {
    padding-bottom: 100%
}

[data-ratio="5x4"]::before {
    padding-bottom: 80%
}

[data-ratio="4x3"]::before {
    padding-bottom: 75%
}

[data-ratio="3x2"]::before {
    padding-bottom: 66.67%
}

[data-ratio="8x5"]::before {
    padding-bottom: 62.5%
}

[data-ratio="16x9"]::before {
    padding-bottom: 56.25%
}

[data-ratio="2x1"]::before {
    padding-bottom: 50%
}

[data-ratio="4x5"]::before {
    padding-bottom: 125%
}

[data-ratio="3x4"]::before {
    padding-bottom: 133.33%
}

[data-ratio="2x3"]::before {
    padding-bottom: 150%
}

[data-ratio="5x8"]::before {
    padding-bottom: 160%
}

[data-ratio="9x16"]::before {
    padding-bottom: 177.78%
}

[data-ratio="1x2"]::before {
    padding-bottom: 200%
}

@media (max-width:479px) {
    [data-ratio_xs="1x1"]::before {
        padding-bottom: 100%
    }
    [data-ratio_xs="5x4"]::before {
        padding-bottom: 80%
    }
    [data-ratio_xs="4x3"]::before {
        padding-bottom: 75%
    }
    [data-ratio_xs="3x2"]::before {
        padding-bottom: 66.67%
    }
    [data-ratio_xs="8x5"]::before {
        padding-bottom: 62.5%
    }
    [data-ratio_xs="16x9"]::before {
        padding-bottom: 56.25%
    }
    [data-ratio_xs="2x1"]::before {
        padding-bottom: 50%
    }
    [data-ratio_xs="4x5"]::before {
        padding-bottom: 125%
    }
    [data-ratio_xs="3x4"]::before {
        padding-bottom: 133.33%
    }
    [data-ratio_xs="2x3"]::before {
        padding-bottom: 150%
    }
    [data-ratio_xs="5x8"]::before {
        padding-bottom: 160%
    }
    [data-ratio_xs="9x16"]::before {
        padding-bottom: 177.78%
    }
    [data-ratio_xs="1x2"]::before {
        padding-bottom: 200%
    }
}

@media (min-width:480px) and (max-width:767px) {
    [data-ratio_sm="1x1"]::before {
        padding-bottom: 100%
    }
    [data-ratio_sm="5x4"]::before {
        padding-bottom: 80%
    }
    [data-ratio_sm="4x3"]::before {
        padding-bottom: 75%
    }
    [data-ratio_sm="3x2"]::before {
        padding-bottom: 66.67%
    }
    [data-ratio_sm="8x5"]::before {
        padding-bottom: 62.5%
    }
    [data-ratio_sm="16x9"]::before {
        padding-bottom: 56.25%
    }
    [data-ratio_sm="2x1"]::before {
        padding-bottom: 50%
    }
    [data-ratio_sm="4x5"]::before {
        padding-bottom: 125%
    }
    [data-ratio_sm="3x4"]::before {
        padding-bottom: 133.33%
    }
    [data-ratio_sm="2x3"]::before {
        padding-bottom: 150%
    }
    [data-ratio_sm="5x8"]::before {
        padding-bottom: 160%
    }
    [data-ratio_sm="9x16"]::before {
        padding-bottom: 177.78%
    }
    [data-ratio_sm="1x2"]::before {
        padding-bottom: 200%
    }
}

@media (min-width:768px) and (max-width:1023px) {
    [data-ratio_md="1x1"]::before {
        padding-bottom: 100%
    }
    [data-ratio_md="5x4"]::before {
        padding-bottom: 80%
    }
    [data-ratio_md="4x3"]::before {
        padding-bottom: 75%
    }
    [data-ratio_md="3x2"]::before {
        padding-bottom: 66.67%
    }
    [data-ratio_md="8x5"]::before {
        padding-bottom: 62.5%
    }
    [data-ratio_md="16x9"]::before {
        padding-bottom: 56.25%
    }
    [data-ratio_md="2x1"]::before {
        padding-bottom: 50%
    }
    [data-ratio_md="4x5"]::before {
        padding-bottom: 125%
    }
    [data-ratio_md="3x4"]::before {
        padding-bottom: 133.33%
    }
    [data-ratio_md="2x3"]::before {
        padding-bottom: 150%
    }
    [data-ratio_md="5x8"]::before {
        padding-bottom: 160%
    }
    [data-ratio_md="9x16"]::before {
        padding-bottom: 177.78%
    }
    [data-ratio_md="1x2"]::before {
        padding-bottom: 200%
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    [data-ratio_lg="1x1"]::before {
        padding-bottom: 100%
    }
    [data-ratio_lg="5x4"]::before {
        padding-bottom: 80%
    }
    [data-ratio_lg="4x3"]::before {
        padding-bottom: 75%
    }
    [data-ratio_lg="3x2"]::before {
        padding-bottom: 66.67%
    }
    [data-ratio_lg="8x5"]::before {
        padding-bottom: 62.5%
    }
    [data-ratio_lg="16x9"]::before {
        padding-bottom: 56.25%
    }
    [data-ratio_lg="2x1"]::before {
        padding-bottom: 50%
    }
    [data-ratio_lg="4x5"]::before {
        padding-bottom: 125%
    }
    [data-ratio_lg="3x4"]::before {
        padding-bottom: 133.33%
    }
    [data-ratio_lg="2x3"]::before {
        padding-bottom: 150%
    }
    [data-ratio_lg="5x8"]::before {
        padding-bottom: 160%
    }
    [data-ratio_lg="9x16"]::before {
        padding-bottom: 177.78%
    }
    [data-ratio_lg="1x2"]::before {
        padding-bottom: 200%
    }
}

@media (min-width:1280px) {
    [data-ratio_xl="1x1"]::before {
        padding-bottom: 100%
    }
    [data-ratio_xl="5x4"]::before {
        padding-bottom: 80%
    }
    [data-ratio_xl="4x3"]::before {
        padding-bottom: 75%
    }
    [data-ratio_xl="3x2"]::before {
        padding-bottom: 66.67%
    }
    [data-ratio_xl="8x5"]::before {
        padding-bottom: 62.5%
    }
    [data-ratio_xl="16x9"]::before {
        padding-bottom: 56.25%
    }
    [data-ratio_xl="2x1"]::before {
        padding-bottom: 50%
    }
    [data-ratio_xl="4x5"]::before {
        padding-bottom: 125%
    }
    [data-ratio_xl="3x4"]::before {
        padding-bottom: 133.33%
    }
    [data-ratio_xl="2x3"]::before {
        padding-bottom: 150%
    }
    [data-ratio_xl="5x8"]::before {
        padding-bottom: 160%
    }
    [data-ratio_xl="9x16"]::before {
        padding-bottom: 177.78%
    }
    [data-ratio_xl="1x2"]::before {
        padding-bottom: 200%
    }
}

[data-effect]:not(.effect-end)[data-effect="fade-in"],
[data-effect]:not(.effect-end)[data-effect="slide-left"],
[data-effect]:not(.effect-end)[data-effect="slide-right"],
[data-effect]:not(.effect-end)[data-effect="slide-top"],
[data-effect]:not(.effect-end)[data-effect="slide-bottom"],
[data-effect]:not(.effect-end)[data-effect="zoom-in"],
[data-effect]:not(.effect-end)[data-effect="zoom-out"] {
    transition-duration: 1s
}

[data-effect]:not(.effect-end)[data-effect="fade-in"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="slide-left"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="slide-right"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="slide-top"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="slide-bottom"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="zoom-in"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="zoom-out"].media-4>img,
[data-effect]:not(.effect-end)[data-effect="fade-in"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="slide-left"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="slide-right"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="slide-top"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="slide-bottom"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="zoom-in"][data-ratio]>img,
[data-effect]:not(.effect-end)[data-effect="zoom-out"][data-ratio]>img {
    transition-duration: 1s
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="fade-in"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"],
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"] {
    opacity: 0 !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"]:not(.media-4):not([data-ratio]) {
    transform: translate(-200px, 0) scale(1) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"][data-ratio] {
    transform: translate(-200px, 0) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-left"][data-ratio]>svg {
    transform: scale(1) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"]:not(.media-4):not([data-ratio]) {
    transform: translate(200px, 0) scale(1) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"][data-ratio] {
    transform: translate(200px, 0) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-right"][data-ratio]>svg {
    transform: scale(1) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"]:not(.media-4):not([data-ratio]) {
    transform: translate(0, -200px) scale(1) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"][data-ratio] {
    transform: translate(0, -200px) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-top"][data-ratio]>svg {
    transform: scale(1) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"]:not(.media-4):not([data-ratio]) {
    transform: translate(0, 200px) scale(1) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"][data-ratio] {
    transform: translate(0, 200px) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="slide-bottom"][data-ratio]>svg {
    transform: scale(1) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"]:not(.media-4):not([data-ratio]) {
    transform: translate(0, 0) scale(.001) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"][data-ratio] {
    transform: translate(0, 0) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-in"][data-ratio]>svg {
    transform: scale(.001) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"]:not(.media-4):not([data-ratio]) {
    transform: translate(0, 0) scale(2) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"].media-4,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"][data-ratio] {
    transform: translate(0, 0) rotate(0deg) !important
}

[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"].media-4>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"][data-ratio]>img,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"].media-4>svg,
[data-effect]:not(.effect-end):not(.effect-start)[data-effect="zoom-out"][data-ratio]>svg {
    transform: scale(2) !important
}

[data-position="left-top"]>img,
[data-position="left-top"]>video {
    object-position: 0 0
}

[data-position="left-middle"]>img,
[data-position="left-middle"]>video {
    object-position: 0 50%
}

[data-position="left-bottom"]>img,
[data-position="left-bottom"]>video {
    object-position: 0 100%
}

[data-position="center-top"]>img,
[data-position="center-top"]>video {
    object-position: 50% 0
}

[data-position="center-bottom"]>img,
[data-position="center-bottom"]>video {
    object-position: 50% 100%
}

[data-position="right-top"]>img,
[data-position="right-top"]>video {
    object-position: 100% 0
}

[data-position="right-middle"]>img,
[data-position="right-middle"]>video {
    object-position: 100% 50%
}

[data-position="right-bottom"]>img,
[data-position="right-bottom"]>video {
    object-position: 100% 100%
}

@media (max-width:479px) {
    [data-position_xs="left-top"]>img,
    [data-position_xs="left-top"]>video {
        object-position: 0 0
    }
    [data-position_xs="left-middle"]>img,
    [data-position_xs="left-middle"]>video {
        object-position: 0 50%
    }
    [data-position_xs="left-bottom"]>img,
    [data-position_xs="left-bottom"]>video {
        object-position: 0 100%
    }
    [data-position_xs="center-top"]>img,
    [data-position_xs="center-top"]>video {
        object-position: 50% 0
    }
    [data-position_xs="center-bottom"]>img,
    [data-position_xs="center-bottom"]>video {
        object-position: 50% 100%
    }
    [data-position_xs="right-top"]>img,
    [data-position_xs="right-top"]>video {
        object-position: 100% 0
    }
    [data-position_xs="right-middle"]>img,
    [data-position_xs="right-middle"]>video {
        object-position: 100% 50%
    }
    [data-position_xs="right-bottom"]>img,
    [data-position_xs="right-bottom"]>video {
        object-position: 100% 100%
    }
}

@media (min-width:480px) and (max-width:767px) {
    [data-position_sm="left-top"]>img,
    [data-position_sm="left-top"]>video {
        object-position: 0 0
    }
    [data-position_sm="left-middle"]>img,
    [data-position_sm="left-middle"]>video {
        object-position: 0 50%
    }
    [data-position_sm="left-bottom"]>img,
    [data-position_sm="left-bottom"]>video {
        object-position: 0 100%
    }
    [data-position_sm="center-top"]>img,
    [data-position_sm="center-top"]>video {
        object-position: 50% 0
    }
    [data-position_sm="center-bottom"]>img,
    [data-position_sm="center-bottom"]>video {
        object-position: 50% 100%
    }
    [data-position_sm="right-top"]>img,
    [data-position_sm="right-top"]>video {
        object-position: 100% 0
    }
    [data-position_sm="right-middle"]>img,
    [data-position_sm="right-middle"]>video {
        object-position: 100% 50%
    }
    [data-position_sm="right-bottom"]>img,
    [data-position_sm="right-bottom"]>video {
        object-position: 100% 100%
    }
}

@media (min-width:768px) and (max-width:1023px) {
    [data-position_md="left-top"]>img,
    [data-position_md="left-top"]>video {
        object-position: 0 0
    }
    [data-position_md="left-middle"]>img,
    [data-position_md="left-middle"]>video {
        object-position: 0 50%
    }
    [data-position_md="left-bottom"]>img,
    [data-position_md="left-bottom"]>video {
        object-position: 0 100%
    }
    [data-position_md="center-top"]>img,
    [data-position_md="center-top"]>video {
        object-position: 50% 0
    }
    [data-position_md="center-bottom"]>img,
    [data-position_md="center-bottom"]>video {
        object-position: 50% 100%
    }
    [data-position_md="right-top"]>img,
    [data-position_md="right-top"]>video {
        object-position: 100% 0
    }
    [data-position_md="right-middle"]>img,
    [data-position_md="right-middle"]>video {
        object-position: 100% 50%
    }
    [data-position_md="right-bottom"]>img,
    [data-position_md="right-bottom"]>video {
        object-position: 100% 100%
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    [data-position_lg="left-top"]>img,
    [data-position_lg="left-top"]>video {
        object-position: 0 0
    }
    [data-position_lg="left-middle"]>img,
    [data-position_lg="left-middle"]>video {
        object-position: 0 50%
    }
    [data-position_lg="left-bottom"]>img,
    [data-position_lg="left-bottom"]>video {
        object-position: 0 100%
    }
    [data-position_lg="center-top"]>img,
    [data-position_lg="center-top"]>video {
        object-position: 50% 0
    }
    [data-position_lg="center-bottom"]>img,
    [data-position_lg="center-bottom"]>video {
        object-position: 50% 100%
    }
    [data-position_lg="right-top"]>img,
    [data-position_lg="right-top"]>video {
        object-position: 100% 0
    }
    [data-position_lg="right-middle"]>img,
    [data-position_lg="right-middle"]>video {
        object-position: 100% 50%
    }
    [data-position_lg="right-bottom"]>img,
    [data-position_lg="right-bottom"]>video {
        object-position: 100% 100%
    }
}

@media (min-width:1280px) {
    [data-position_xl="left-top"]>img,
    [data-position_xl="left-top"]>video {
        object-position: 0 0
    }
    [data-position_xl="left-middle"]>img,
    [data-position_xl="left-middle"]>video {
        object-position: 0 50%
    }
    [data-position_xl="left-bottom"]>img,
    [data-position_xl="left-bottom"]>video {
        object-position: 0 100%
    }
    [data-position_xl="center-top"]>img,
    [data-position_xl="center-top"]>video {
        object-position: 50% 0
    }
    [data-position_xl="center-bottom"]>img,
    [data-position_xl="center-bottom"]>video {
        object-position: 50% 100%
    }
    [data-position_xl="right-top"]>img,
    [data-position_xl="right-top"]>video {
        object-position: 100% 0
    }
    [data-position_xl="right-middle"]>img,
    [data-position_xl="right-middle"]>video {
        object-position: 100% 50%
    }
    [data-position_xl="right-bottom"]>img,
    [data-position_xl="right-bottom"]>video {
        object-position: 100% 100%
    }
}

.video-16x9 {
    width: 100%
}

.video-16x9::before {
    content: '';
    display: block;
    padding-bottom: 56.25%
}

.video-16x9>img,
.video-16x9>svg,
.video-16x9>video,
.video-16x9>iframe {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

form.disabled>a:last-of-type {
    opacity: 0.5;
    pointer-events: none
}

form .select,
form .date,
form .date-time,
form .file,
form .search {
    display: flex
}

form .select>button,
form .date>button,
form .date-time>button,
form .file>button,
form .search>button {
    flex-shrink: 0
}

form .select,
form .date,
form .date-time,
form .file {
    cursor: pointer
}

form .select>input[type="text"],
form .date>input[type="text"],
form .date-time>input[type="text"],
form .file>input[type="text"],
form .select>input[type="date"],
form .date>input[type="date"],
form .date-time>input[type="date"],
form .file>input[type="date"],
form .select>input[type="datetime-local"],
form .date>input[type="datetime-local"],
form .date-time>input[type="datetime-local"],
form .file>input[type="datetime-local"] {
    cursor: pointer
}

form .select:not(.active)>.options {
    display: none
}

form .select>.options {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    transform: translateZ(0);
    z-index: 200
}

form .radios>div,
form .checkboxes>div {
    align-items: center;
    display: flex
}

form .radios>div>.radio,
form .checkboxes>div>.radio,
form .radios>div>.checkbox,
form .checkboxes>div>.checkbox,
form .radios>div>label,
form .checkboxes>div>label {
    cursor: pointer
}

form .radios>div>.radio,
form .checkboxes>div>.radio,
form .radios>div>.checkbox,
form .checkboxes>div>.checkbox {
    flex-shrink: 0
}

form .radios>div>.radio>input,
form .checkboxes>div>.radio>input,
form .radios>div>.checkbox>input,
form .checkboxes>div>.checkbox>input {
    display: none
}

form .date>input[type="date"],
form .date-time>input[type="date"],
form .date>input[type="datetime-local"],
form .date-time>input[type="datetime-local"] {
    opacity: 0;
    position: absolute
}

form .file>input[type="file"] {
    display: none
}

form .search:not(.active)>.results {
    display: none
}

form .search.focus>input,
form .search.active>input,
form .search.focus>button,
form .search.active>button {
    position: relative;
    z-index: 310
}

form .search.focus>.overlay,
form .search.active>.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 300
}

form .search>.results {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    transform: translateZ(0);
    z-index: 310
}

form>div:not([class]) {
    display: none
}

header>a[name],
section>a[name],
footer>a[name] {
    position: absolute;
    left: 0;
    top: 0
}

body {
    color: #333;
    font-family: 'cairo-regular';
    font-size: 18px;
    line-height: 2
}

.page {
    background-color: #fff
}

.page section {
    padding-bottom: 40px;
    padding-top: 40px
}

.page footer {
    padding-bottom: 5px;
    padding-top: 5px
}

.col {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px
}

.col .viewport {
    border-radius: 5px
}

.col .thumbnails {
    border-radius: 5px
}

.col.thumbnail a {
    border-radius: 5px
}

body>.mobile-menu .menu-1>ul>li.separator {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px
}

body>.mobile-menu .menu-1>ul>li>ul>li.separator {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px
}

body>.mobile-menu .menu-1>ul>li>ul>li>ul>li.separator {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px
}

body>.mobile-menu .menu-1>ul>li>ul>li>ul>li>a {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'roboto-medium';
    font-size: 12px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-top: 0
}

body>.mobile-menu .menu-1>ul>li>ul>li>ul>li:hover>a {
    color: #fff
}

body>.mobile-menu .menu-1>ul>li>ul>li>ul>li.active>a {
    color: #fff
}

header .menu-1>ul>li.separator,
section .menu-1>ul>li.separator,
footer .menu-1>ul>li.separator {
    background-color: rgba(51, 51, 51, 0.2);
    height: 20px;
    width: 1px
}

header .menu-1>ul>li>ul>li.separator,
section .menu-1>ul>li>ul>li.separator,
footer .menu-1>ul>li>ul>li.separator {
    background-color: rgba(51, 51, 51, 0.2);
    height: 1px
}

header .menu-1>ul>li>ul>li>ul,
section .menu-1>ul>li>ul>li>ul,
footer .menu-1>ul>li>ul>li>ul {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
    margin-left: 5px
}

header .menu-1>ul>li>ul>li>ul>li.separator,
section .menu-1>ul>li>ul>li>ul>li.separator,
footer .menu-1>ul>li>ul>li>ul>li.separator {
    background-color: rgba(51, 51, 51, 0.2);
    height: 1px
}

header .menu-1>ul>li>ul>li>ul>li>a,
section .menu-1>ul>li>ul>li>ul>li>a,
footer .menu-1>ul>li>ul>li>ul>li>a {
    color: rgba(51, 51, 51, 0.6);
    font-family: 'roboto-medium';
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px
}

header .menu-1>ul>li>ul>li>ul>li:hover>a,
section .menu-1>ul>li>ul>li>ul>li:hover>a,
footer .menu-1>ul>li>ul>li>ul>li:hover>a {
    color: #333
}

header .menu-1>ul>li>ul>li>ul>li.active>a,
section .menu-1>ul>li>ul>li>ul>li.active>a,
footer .menu-1>ul>li>ul>li>ul>li.active>a {
    color: #333
}

.heading-1 {
    color: #fff;
    font-family: 'cairo-regular';
    font-size: 32px;
    color: darkblue;
    line-height: 1.25;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.heading-1.has-sub {
    margin-bottom: 0.25em;
}

.heading-2 {
    font-family: 'cairo-regular';
    font-size: 32px;
    color: darkblue;
    line-height: 1.25;
    margin-bottom: 5px;
}

.heading-2.negative {
    color: #fff
}

.heading-2.has-sub {
    margin-bottom: 10px
}

.heading-3 {
    font-family: 'cairo-regular';
    font-size: 24px;
    line-height: 1.25;
    margin-top: 5px;
    margin-bottom: 5px
}

.heading-3.negative {
    color: #fff
}

.heading-3.has-sub {
    margin-bottom: 5px
}

.text-1 {
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #000
}

.text-1.negative {
    color: #333;
    text-shadow: 0 0 0 #000
}

.text-2 {
    color: #666;
    margin-bottom: 28px
}

.text-2.negative {
    color: #fff
}

.text-3 {
    margin-bottom: 28px
}

.text-3.negative {
    color: #fff
}

.text-4 {
    color: #666;
    margin-bottom: 28px
}

.text-4.negative {
    color: #fff
}

.text-5 {
    margin-bottom: 28px
}

.text-5.negative {
    color: #fff
}

.text-6 {
    color: verydarkblue;
    margin-bottom: 28px
}

.button-wrapper {
    margin-bottom: 20px
}

.button-wrapper:not([class*="-wrapper"]) {
    margin-left: 10px;
    margin-top: 10px
}

.button-wrapper[class*="-wrapper"] {
    margin-left: -10px;
    margin-top: -10px
}

.button-wrapper[class*="-wrapper"]>* {
    margin-left: 10px;
    margin-top: 10px
}

.button-1 {
    background-color: cornflowerblue;
    border-radius: 5px;
    color: #fff;
    font-family: 'roboto-medium';
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    text-transform: uppercase
}

.button-1:hover {
    background-color: #3cacb3
}

.button-2 {
    background-color: #3c4662;
    border-radius: 5px;
    color: #fff;
    font-family: 'cairo-regular';
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    text-transform: uppercase
}

.button-2:hover {
    background-color: #363f58
}

.control-wrapper {
    margin-bottom: 20px
}

.control-wrapper:not([class*="-wrapper"]) {
    margin-left: 5px;
    margin-top: 5px
}

.control-wrapper[class*="-wrapper"] {
    margin-left: -5px;
    margin-top: -5px
}

.control-wrapper[class*="-wrapper"]>* {
    margin-left: 5px;
    margin-top: 5px
}

.icon-3 {
    height: 24px
}

.media-2 {
    border-radius: 5px;
    margin-bottom: 30px
}

.media-3 {
    border-radius: 5px;
    margin-bottom: 30px
}

.map-1 {
    border-radius: 5px;
    margin-bottom: 20px
}

.form-1>div {
    margin-bottom: 10px
}

.form-field-1 input {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px
}

.form-field-1 input.error {
    border-color: #c00
}

.form-field-1 input::placeholder {
    color: #999
}

.form-field-1 input::-ms-input-placeholder {
    color: #999
}

.separator-1 {
    background-color: #ccc;
    height: 1px
}

.separator-2 {
    background-color: #fff;
    height: 1px
}

.icon-wrapper {
    margin-bottom: 20px
}

.icon-wrapper:not([class*="-wrapper"]) {
    margin-left: 5px;
    margin-top: 5px
}

.icon-wrapper[class*="-wrapper"] {
    margin-left: -5px;
    margin-top: -5px
}

.icon-wrapper[class*="-wrapper"]>* {
    margin-left: 5px;
    margin-top: 5px
}

body>.menu-block-mobile-menu .box-2 {
    background-color: rgba(0, 174, 65, 0.9);
    padding-bottom: 10px;
    padding-top: 10px
}

body>.menu-block-mobile-menu .menu-1>ul>li>a {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'cairo-regular';
    font-size: 18px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: none
}

body>.menu-block-mobile-menu .menu-1>ul>li:hover>a {
    color: #fff
}

body>.menu-block-mobile-menu .menu-1>ul>li.active>a {
    color: #fff
}

body>.menu-block-mobile-menu .menu-1>ul>li>ul>li>a {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'roboto-medium';
    font-size: 11px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-top: 0;
    text-transform: uppercase
}

body>.menu-block-mobile-menu .menu-1>ul>li>ul>li:hover>a {
    color: #fff
}

body>.menu-block-mobile-menu .menu-1>ul>li>ul>li.active>a {
    color: #fff
}

.page .menu-block .col {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px
}

.menu-block .menu-1>ul {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px
}

.page .menu-block .col-2:hover {
    background-color: transparent
}

.page .menu-block .media-1 {
    height: 150px;
    width: 150px
}

.page .menu-block .col-1 {
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 0
}

.page .menu-block .box-1 {
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0);
    background-color: transparent;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 100
}

.page .menu-block .col-2 {
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0
}

.menu-block .menu-1>ul>li {
    margin-right: 30px
}

.menu-block .menu-1>ul>li>a {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 300;
    color: #000000;
    font-family: 'cairo-regular';
    font-size: 20px;
    line-height: 1;
    padding-bottom: 21px;
    padding-top: 21px;
    text-transform: none
}

.menu-block .menu-1>ul>li:hover>a {
    box-shadow: none;
    background-color: transparent;
    color: darkblue
}

.menu-block .menu-1>ul>li.active>a {
    background-color: transparent;
    color: darkblue
}

.menu-block .menu-1>ul>li>ul {
    /*background-color: rgba(51, 51, 51, 0.9);*/
    /*padding-bottom: 5px;*/
    /*padding-top: 5px;*/
    /*min-width: 100%*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-block .menu-1>ul>li>ul>li:last-child {
    border-bottom-width: 0
}

.menu-block .menu-1>ul>li>ul>li>a {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'roboto-medium';
    font-size: 11px;
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase
}

.menu-block .menu-1>ul>li>ul>li:hover>a {
    background-color: darkblue;
    color: #fff
}

.menu-block .menu-1>ul>li>ul>li.active>a {
    color: #fff
}

.page .page-footer-block {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.page .page-footer-block .col {
    padding-bottom: 10px;
    padding-top: 10px
}

.page .page-footer-block .col-1 {
    align-content: center;
    align-items: center;
    justify-content: center
}

.page .page-footer-block .text-6 {
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    color: verydarkblue;
}

.page .page-footer-block .col-2 {
    align-content: center;
    align-items: center;
    justify-content: center
}

@media (min-width:768px) {
    .page .page-footer-block .col-1 {
        flex-direction: row
    }
    .page .page-footer-block .col-1 .text-6 {
        margin-bottom: 0;
        margin-right: 10px
    }
}

.event-block {
    padding-bottom: 20px;
    padding-top: 20px;
}

.date-small {
    font-size: 14px;
}

.date-big {
    font-size: 28px;
    color: darkblue;
}

header {
    position: sticky;
    top: 0;
    padding: 40px;
    background: white;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

#bottom_fade {
    position: fixed;
}