@charset "UTF-8";

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'roboto-light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/roboto-light.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/roboto-medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'roboto-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-regular';
    src: url('../fonts/Cairo/Cairo-Regular.ttf');
format('truetype');
}

@font-face {
    font-family: 'cairo-light';
    src: url('../fonts/Cairo/Cairo-Light.ttf');
format('truetype');
}

@font-face {
    font-family: 'capriola-regular';
    src: url('../fonts/Capriola/Capriola-regular.ttf');
format('truetype');
}
